.navbar {
    background-color: rgb(255, 255, 254);
    padding: 1rem;
    background-position: start;
}

body{
    background-image: url(https://thesimpsonsapi.com/clouds-bg.jpg);
    background-size: cover;
}

body::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'SimpsonFont';
    src: url('./Fuentes/SIMPSONFONT DEMO.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}


h1, .footer {
    font-family: 'SimpsonFont', sans-serif !important;
}

